/* Reset CSS */
body,
h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: Georgia, serif;
  color: #252525;
}

/* Menu */
.menu {
  background-color: #252525;
  padding: 20px 0;
}

.menu-container {
  max-width: 960px;
  margin: 0 auto;
}

.menu-container::after,
.menu-container::before {
  content: "";
  display: table;
  clear: both;
}

a.menu-logo {
  display: block;
  float: left;
  margin-left: 10px;
}

.menu-nav {
  margin-right: 10px;
  float: right;
}

.menu-nav li {
  display: inline-block;
}

.menu-nav a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: white;
  font-size: calc(18em / 16);
}

/* Introdução */
.intro {
  background: url("../img/bg-intro.jpg") no-repeat center center;
  background-size: cover;
  padding: 150px 0;
  text-align: center;
  color: white;
}

.intro h1 {
  text-transform: uppercase;
  font-size: calc(48em / 16);
}

.intro h1::after {
  content: "";
  display: block;
  width: 20px;
  height: 4px;
  background-color: white;
  margin: 10px auto;
}

.intro p {
  font-style: italic;
  font-size: calc(18em / 16);
}

/* Sobre */
.sobre {
  padding: 60px 0;
}

.sobre-container {
  max-width: 960px;
  margin: 0 auto;
}

.sobre-container::after,
.sobre-container::before {
  content: "";
  display: table;
  clear: both;
}

.sobre h2 {
  text-align: center;
  font-size: calc(36em / 16);
  margin-bottom: 60px;
}

.sobre-item {
  width: 460px;
  float: left;
  margin: 0 10px;
}

.sobre-item img {
  display: block;
  max-width: 100%;
}

.sobre-item h3 {
  font-size: calc(36em / 16);
  font-style: italic;
  font-weight: normal;
  line-height: 1em;
  text-align: center;
  background: #252525;
  width: 220px;
  color: white;
  padding: 5px 0 10px 0;
  position: relative;
  top: -25px;
}

.sobre > p {
  font-size: calc(20em / 16);
  line-height: calc(22.4em / 16);
  font-style: italic;
  text-align: center;
  margin: 20px auto;
  max-width: 460px;
}
