/* Reset */

body,
h1,
h2,
h3,
p,
ul {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: Georgia, serif;
  color: #252525;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

/* Menu */

.menu {
  background: #252525;
  padding: 15px 0;
}

.menu-nav {
  float: right;
}

.menu-nav ul li {
  display: inline-block;
}

.menu-nav a {
  text-decoration: none;
  color: white;
  font-size: calc(18em / 16);
  display: block;
  padding: 10px;
  margin-left: 10px;
}

/* Intro */

.intro {
  background: url("../img/bg-intro.jpg") no-repeat center center;
  background-size: cover;
  color: white;
  padding: 150px 0;
  text-align: center;
}

.intro h1 {
  text-transform: uppercase;
  font-size: calc(48em / 16);
}

.intro h1::after {
  content: "";
  display: block;
  width: 20px;
  height: 4px;
  background: white;
  margin: 10px auto;
}

.intro p {
  font-style: italic;
  font-size: calc(18em / 16);
}

/* Sobre */

.sobre {
  padding: 60px 0;
}

.sobre h2 {
  font-size: calc(36em / 16);
  text-align: center;
  margin-bottom: 60px;
}

.sobre-item h3 {
  font-size: calc(36em / 16);
  line-height: calc(16em / 16);
  background: #252525;
  color: white;
  font-style: italic;
  font-weight: normal;
  text-align: center;
  position: relative;
  width: 220px;
  padding: 5px 0 10px 0;
  top: -25px;
}

.sobre > p {
  font-size: calc(18em / 16);
  line-height: calc(22.4em / 16);
  font-style: italic;
  max-width: 460px;
  margin: 20px auto;
  text-align: center;
}

/* Produtos */

.produtos {
  background: #e7e4d8;
  border-top: 3px solid #d6d3c8;
  border-bottom: 3px solid #d6d3c8;
  padding: 60px 0;
}

.produtos-item {
  margin-bottom: 40px;
}

.produtos-item h2 {
  font-size: calc(36em / 16);
  text-align: center;
  margin-bottom: 20px;
}

.produtos-item h2::before {
  content: "";
  display: block;
  width: 100px;
  height: 100px;
  background: currentColor;
  border-radius: 50%;
  border: 5px solid #e7e4d8;
  box-shadow: 0 0 0 5px currentColor;
  margin: 20px auto;
}

h2.produtos-paulista::before {
  color: #492901;
}

h2.produtos-carioca::before {
  color: #c17139;
}

h2.produtos-mineiro::before {
  color: #d7a54d;
}

.produtos-item p {
  font-size: calc(14em / 16) em;
  line-height: calc(22.4em / 16);
}

.produtos-btn {
  border: 3px solid #252525;
  color: #252525;
  text-decoration: none;
  text-align: center;
  font-size: calc(18em / 16);
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  width: 180px;
  padding: 15px 0;
  margin: 0 auto;
}

/* Locais */

.locais-item h2 {
  font-size: calc(36em / 16);
}

.locais-item p {
  font-size: calc(18em / 16);
  line-height: calc(22.4em / 16);
}

.locais-item a {
  font-size: calc(18em / 16);
  text-transform: uppercase;
  text-decoration: none;
  border: 3px solid;
  color: #252525;
}

/* Assine */

.assine {
  background: #e7e4d8;
}

.assine-info h2 {
  font-size: calc(36em / 16);
}

.assine-info p {
  font-size: calc(24em / 16);
  font-style: italic;
}

.assine form label {
  display: none;
}

.assine input {
  border: 3px solid #252525;
  background: none;
  font-size: calc(24em / 16);
  font-style: italic;
  font-family: Georgia, serif;
}

.assine button {
  background: #252525;
  border: none;
  font-family: Georgia, serif;
  text-transform: uppercase;
  font-size: calc(24em / 16);
  color: white;
  cursor: pointer;
}

/* Footer */

.footer {
  background: #d6d3c8;
}

.footer p {
  font-size: calc(18em / 16);
  line-height: calc(22.4em / 16);
}

/* Breakpoints */

@media (max-width: 739px) {
  .menu-nav ul {
    float: none;
  }

  .menu-nav ul li a {
    margin-left: 0;
    padding-left: 0;
    padding-right: 8px;
  }

  .intro {
    padding: 60px 0;
  }
}
